li.nav-item(name="user")
    a.nav-link.collapsed(href='/users', data-toggle='collapse', data-target='#collapseUtilities', aria-expanded='true', aria-controls='collapseUtilities')
        i.fas.fa-users
        span User
    #collapseUtilities.collapse(aria-labelledby='headingUtilities', data-parent='#accordionSidebar')
        .bg-white.py-2.collapse-inner.rounded
            h6.collapse-header Edit class or member
            a.collapse-item(href='/users') List of library members
            a.collapse-item(href='/officer') List of officers
            a.collapse-item(href='/class') User class
li.nav-item(name="book")
    a.nav-link(href='/books')
        i.fas.fa-book
        span Book
li.nav-item(name="order")
    a.nav-link.collapsed(href='/order', data-toggle='collapse', data-target='#collapseUtilities', aria-expanded='true', aria-controls='collapseUtilities')
        i.fas.fa-shopping-cart
        span Order
    #collapseUtilities.collapse(aria-labelledby='headingUtilities', data-parent='#accordionSidebar')
        .bg-white.py-2.collapse-inner.rounded
            h6.collapse-header rent or return books
            a.collapse-item(href='/rent') Rent 
            a.collapse-item(href='/rent/return') Return 