li.nav-item(name="user")
    a.nav-link.collapsed(href='/users', data-toggle='collapse', data-target='#member', aria-expanded='true', aria-controls='collapseUtilities')
        i.fas.fa-users
        span Manage Users
    #member.collapse(aria-labelledby='headingUtilities', data-parent='#accordionSidebar')
        .bg-white.py-2.collapse-inner.rounded
            h6.collapse-header Edit class or member
            a.collapse-item(href='/users') List of library Users
            a.collapse-item(href='/officer') List of officers
            a.collapse-item(href='/class') User class